.bg-blue{
    background-color: #025DAC;
}

.cheek-of-the-week{
    position: relative;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgba(100, 0, 0, 0.5) 15%, rgba(255, 255, 255, 0.5) 70%, rgba(100, 0, 0, 0.5) 15%), url("../../images/background.png"); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(100, 0, 0, 0.5) 15%, rgba(255, 255, 255, 0.5) 70%, rgba(100, 0, 0, 0.5) 15%), url("../../images/background.png"); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(100, 0, 0, 0.5) 15%, rgba(255, 255, 255, 0.5) 70%, rgba(100, 0, 0, 0.5) 15%), url("../../images/background.png"); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(100, 0, 0, 0.5) 15%, rgba(255, 255, 255, 0.5) 70%, rgba(100, 0, 0, 0.5) 15%), url("../../images/background.png"); /* Standard syntax */
    background-size: cover;
    background-position: center top;
}

.cheeks{
    max-height: 500px;
}

.cheek-search{
    width: 90%;
    padding-top: 10px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.image-box{
    width: 100%;
    padding: 10px;
}

textarea{
    resize: none;
}

.status-message{
    height: 200px;
}

.image-box img, .profile-pic img, .picture-pane img{
    display: block;
    width: 100%;
}

.image-box .fa{
    position: absolute;
    top: 0px;
    right: 16px;
}

.image-placeholder{
    margin: 45% auto;
    display: block;
}

.profile-pic:hover, .picture-pane:hover{
    border-color: yellow;
}

.pointer{
    cursor: pointer;
}