.bg-blue{
    background-color: #025DAC;
}

.cheeks{
    max-height: 700px;
}

.cheek-search{
    padding-top: 10px;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; border-radius: 20px;}

.image-box{
    width: 100%;
    padding: 10px;
}

textarea{
    resize: none;
}

.status-message{
    height: 200px;
}

.image-box img, .profile-pic img, .picture-pane img{
    display: block;
    width: 100%;
}

.image-box .fa{
    position: absolute;
    top: 0px;
    right: 16px;
}

.image-placeholder{
    margin: 45% auto;
    display: block;
}

.profile-pic:hover, .picture-pane:hover{
    border-color: yellow;
}

.pointer{
    cursor: pointer;
}

.cheeks .loading{
    background: rgba(0,0,0,.5) url('/images/ripple.svg') no-repeat center;
    width: 95%;
    height: 90%;
    position: absolute;
    top: 80px;
    left: 15px;
    z-index: 999;
}

.latest-div{
    position: absolute;
}

.profile-tab{
    min-height: 700px;
}
.fixed-sidebar{
    position:fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}

/**Scrollbar Styling***/

.fixed-sidebar::-webkit-scrollbar {
    width: 1em;
}

.fixed-sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.fixed-sidebar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.responsive-circle {
    font-size: 80px;
    font-weight: 700;
    margin: 0 auto 20px;
    width: 80%;
}
.responsive-circle::after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 0;
    margin-bottom: 20px;
    padding-bottom: 100%;
    width: 100%;
}
.responsive-circle div {
    color: white;
    float: left;
    line-height: 1em;
    margin-top: -0.5em;
    padding-top: 50%;
    text-align: center;
    width: 100%;
}
.img-circle {
    border-radius: 50%;
}
img.center {
    display: block;
    margin: 0 auto;
}
.profile_img header {
    text-align: center;
    width: 100%;
}
.profile_img header .user {
    /*float: right;*/
    /*width: 335px;*/
    padding: 30px 0;
}
.profile_img header .user .avatar {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #fff;
}
.profile_img header .user .avatar img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
}
.profile_img header .user h2 {
    margin: 10px 0 0;
    color: #000;
    font: normal 24px/1 "Ubuntu Condensed", sans-serif;
    height: 50px;
}
.profile_img header .user p {
    color: #b0b0b0;
    font-size: 18px;
    margin: 15px 0 0;
}
.profile_img header .user a.follow {
    display: inline-block;
    border-radius: 50px;
    background: #e74c3c;  /**#23f3ac**/
    text-decoration: none;
    width: 180px;
    height: 50px;
    margin: 15px 0 0;
    color: #fff;
    font: normal 18px/50px "Ubuntu Condensed", sans-serif;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}
.profile_img header .user a.follow span {
    font-size: 20px;
    margin-right: 5px;
}
.profile_img header .user a.follow:hover {
    opacity: 0.7;
}
.margin-up-50{
    margin-top: 50px !important;
}
.listing-info {
    color: #000;
    font: 24px/1 "Ubuntu Condensed",sans-serif;
    height: 50px;
    margin: 10px 0 0;

}
.carousel-inner img{
    width: 100%;
}
.facebook-comments{
    max-height: 300px;
    overflow-y: scroll;
}