.bg-blue{
    background-color: #025DAC;
}

.cheeks{
    max-height: 500px;
}

.cheek-search{
    width: 90%;
    padding-top: 10px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.image-box{
    width: 100%;
    padding: 10px;
}

textarea{
    resize: none;
}

.status-message{
    height: 200px;
}

.image-box img, .profile-pic img, .picture-pane img{
    display: block;
    width: 100%;
}

.image-box .fa{
    position: absolute;
    top: 0px;
    right: 16px;
}

.image-placeholder{
    margin: 45% auto;
    display: block;
}

.profile-pic:hover, .picture-pane:hover{
    border-color: yellow;
}

.pointer{
    cursor: pointer;
}