.chat-widget{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    max-height: 500px;
}

#chat-container{
    /*position: absolute;*/
    bottom: 0;
    background: #ffffff;
    height: 300px;
    /*width: 90%;*/
}
.chat-container-header{
    background-image: linear-gradient(-146deg, #FF4B1F 0%, #F06B3B 83%);
    color: #ffffff;
    padding: 10px;
}
.connections{
    background: #ffe3d2;
    padding: 10px 20px;
    height: 500px;
    position: relative;
}
.chat-box .chat-container-header img{
    width: 20%;
}

.chat-box .chat-container-body{
    padding: 10px;
}

.chat-box .msg{
    resize: none;
}

.chat-box .chat-messages{
    height: 150px;
    overflow-y: scroll;
}

.chat-box .chat-messages small{
    display: block;
}