
.logo{width:174px;height:40px;background-image:url(../images/home1/logo-green.jpg);display:block;}
.font-white{color:#fff;}
.font-gray{color:#808080 !important;}
.font-red{color:#7AA054;}
.font-black{color:#000 !important;}
.font-white{color:#fff;}
a{color:#7AA054;text-transform:none;}
a:hover{color:#7AA054;}
.text-primary{color:#ED834E;}
.text-info{color:#ED834E;}
#weather i{color:#6B717E;}
.btn-primary{background:#7AA054 none repeat scroll 0 0;border-radius:0px;border:0;}
.btn-primary:hover{background:#7AA054;}
input[type="button"]{background-color:#7AA054;color:#fff;}
.form-small input[type="button"]{background-color:#7AA054;color:#fff;}
.sectionheadbg{background-color:#626262;}
.sectionbg{background-color:#f6f6f6;}
.topsectionbg{background-color:#7AA054;}
.sectionheadinnerbg{background-color:#f6f6f6;border-top:4px solid #212121;border-bottom:1px solid #f4f4f4;}
.sectionimportant{background-color:#ED834E;}
.section-border{width:100%;border-radius:0px;margin-bottom:0px;margin-top:40px;}
.section-border h3{margin-bottom:30px;margin-top:3px;border-top:2px solid #212121;border-bottom:1px solid #212121;background-color:rgba(255,255,255,0.6);padding:20px;}
.social-icons ul > li{background-color:#2E2E2E;}
.social-icons ul > li:nth-child(even){background-color:#626262;}
.searchbg{background-color:#7AA054;}
.loginbg{background-color:#ABDB6C;}
.colored-section{background-color:#7AA054;}
.search-listing a:hover{color:#666 !important;background-color:#f6f6f6;}
.footerbg2{background-color:#090909;baclgrpimd-color;}
.footerbg1{background-color:#060606;}
.linkbg{background-color:#2E2E2E;color:#fff;}
.csstransforms3d .cl-effect-2 a span::before{background-color:#7AA054;}
.light-gray{background-color:#f4f4f4;}
.Extralight-gray{background-color:#f9f9f9;}
.whitebg{background-color:#fff;}
.white{background-color:#fff;}
.hovercolor a:hover{background-color:#F9F9F9;text-decoration:none;}
.hovercolor li:hover{color:#fff;background-color:#7AA054;text-decoration:none;}
.slider-handle{background-color:#7AA054;}
.menubg{background-color:#7AA054;}
.submenucolor{background-color:#7AA054;color:#fff;z-index:1000000;}
.submenucolor h2{color:#fff;}
.menucolor{background-color:#2E2E2E;color:#fff;}
ul.main-nav > li:hover > a{background:transparent;}
@media only screen and (max-width:768px){.submenucolor{background-color:transparent;background-image:none;}
}
@media only screen and (min-width:768px){.menuhovercolor ul li:hover{background-color:#7AA054;color:#fff;}
}
.menucolor a, .menucolor span{color:#fff;}
.view-first:hover .mask{background-color:rgba(122,160,84, 0.9);}
.switcher #switch-panel{background-color:#ABDB6C;}