/**
 * Created by PhpStorm.
 * User: moscoworld
 * Date: 4/22/17
 * Time: 10:19 AM
 */
body{
    font-family: 'Poppins', sans-serif;
}
#home_banner{
    background: url("../images/banner_bg.jpg") no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: 30% 12%;
}
#home_banner .overlay{
    padding: 200px 0;
    height: 100%;
    background-color: rgba(0,0,0,0.41);
}
#home_banner .sub_caption{
    font-size: 25px;
}
#home_banner .bg-text{
    font-size: 70px;
}

#home_banner #login_container{
    background: rgba(0,0,0,0.4);
    padding: 20px 15px;
}

a, a:hover{
    color: inherit;
    text-decoration: none !important;
}


/*Roundabout*/
.roundabout-wrapper {
    max-height: 510px;
    margin-bottom: 51px;
}
.roundabout {
    height: 310px;
    margin: 30px 0 30px 56px;
    list-style: none;
}
.roundabout-slide {
    width: 221px;
    height: 400px;
    cursor: url("../images/draghand.cur"), w-resize;
}

.trending-items{
    padding: 20px 0 50px;
}
.trending-item{
    margin: 0 10px;
    /*width: 300px;*/
}

/*
Profile Card
*/
.profile-card{
    background: #FFFFFF;
    border: solid thin #dddddd;
    height: 430px;
    box-shadow: 1px 1px 1px #e6e6e6;
    margin: 15px 0;
}
.profile-card-heading{
    height: 150px;
    background: #ed1c24;
}
.profile-card-heading img{
    display: block;
    text-align: center;
    position: relative;
    top: 96px;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
.profile-card-content{
    margin-top: 55px;
    padding: 15px 20px;
}
.profile-card .vote-btn{
    padding: 10px 30px;
    margin-top: 15px;
}
.profile-card .icon{
    font-weight: bold;
}

#profile-counter-container{
    background: url("../images/cheeks.png") no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: 30% 12%;
}
#profile-counter-container .overlay{
    padding: 100px 0;
    height: 100%;
    background-color: rgba(0,0,0,0.41);
}
.profile-card-name{
    max-height: 36px;
    min-height: 18px;
    overflow: hidden;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    margin-bottom: 10px;
}
.content-end{
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
    background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#00ffffff',EndColorStr='#ffffff');
    bottom: 0;
    height: 25px;
    max-height: 100%;
    position: absolute;
    right: 0;
    width: 80px;
}

/*Footer*/
#footer{
    background: #000000;
}