/* Media Queries */
@media(max-width:767px){
   /* #app-header{
        height: auto;
    }
    #app-header #logo{
        width: 150px;
    }
    #app-header #profile-dp-xs{
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }*/
    .non-xs, .non-sm{
        display: none;
    }
    .xs-only{
        display: block;
    }
}
@media(min-width:768px) and (max-width: 991px){
   /* #app-header{
        height: auto;
    }
    #app-header #logo{
        width: 150px;
    }
    #app-header #profile-dp-xs{
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }*/
    .non-sm, .non-md{
        display: none;
    }
    .md-only{
        display: block;
    }
}
@media(min-width:992px) and (max-width: 1199px){
    /*.non-md{*/
    /*display: none;*/
    /*}*/
    .md-only{
        display: block;
    }
}
@media(min-width:1200px){
    .non-lg{
        display: none;
    }

    .lg-only{
        display: block;
    }
}