
/**
 * Created by PhpStorm.
 * User: moscoworld
 * Date: 4/22/17
 * Time: 10:19 AM
 */

.text-white{
    color: #fff;
}
.text-primary{
    color: #FF4B1F;
}
a:hover, a:focus {
    color: inherit !important;
    text-decoration: none !important;
}
.bg-grey{
    background: #f9f9f9;
}
.btn:hover{
    color: #ffffff !important;
}
.no-margin{
    margin: 0 !important;
}
.no-margin-bottom{
    margin-bottom: 0 !important;
}
.no-margin-top{
    margin-top: 0 !important;
}
.btn-fill{
    width: 100%;
}

/*Restyle Bootstrap to Brand color*/
.btn-primary{
    background: #ed1c24;
}
.btn-primary:hover, .btn-primary:focus,
.btn-primary:active:hover, .btn-primary:active, .btn-primary:active:hover, .btn-primary.active:hover,
.open>.dropdown-toggle.btn-primary:hover, .btn-primary:active:focus,
.btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus, .btn-primary.active.focus,
.open>.dropdown-toggle.btn-primary.focus{
    background-color: #d51c24;
    outline: 0 !important;
}


.text-grey{
    color: #dddddd;
}
.text-twitter{
    color: #1da1f2;
}
.text-facebook{
    color: #3b5998;
}
.text-instagram{
    color: #c33186;
}
.margin-top-sm{
    margin-top: 15px;
}
.margin-top-md{
    margin-top: 45px;
}

.btn-default:hover, .btn-default:active:hover {
    background-color: #FFFFFF;
    color: #ed1c24 !important;
}
.btn:focus{
    outline: none !important;
}
.padding-sm{
    padding: 10px;
}